<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- <meta charset="UTF-8"> -->
    <title>Интернет-магазин с бесплатной доставкой</title>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link href="../styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header>
        <nav class="nav_menu">
            <a href="#" class="nav_menu_items">о нас</a>
            <a href="#" class="nav_menu_items">опт</a>
            <a href="#" class="nav_menu_items">оплата и доставка</a>
            <a href="#" class="nav_menu_items active">акции</a>
            <a href="#" class="nav_menu_items">блог</a>
            <a href="#" class="nav_menu_items">контакты</a>
        </nav>

        <div class="intro">
            <figure>
                <div class="logo_outer">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <figcaption class="logo_subtext">вместе дешеле.org</figcaption>
            </figure>

            <div class="intro_telephone_outer">
                <span class="iconify" data-icon="carbon:phone-filled"></span>
                <a href="tel: +19688905556">+1 (968) 890 55 56</a>
            </div>
            
            <h1>Интернет-магазин с бесплатной доставкой</h1>

            <div class="intro_btns_container">
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="bi:person-fill"></span>
                    <div class="intro_btn_subtext">Войти</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ant-design:heart-filled"></span>
                    <div class="intro_btn_subtext intro_likes">0</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ps:shopping-cart"></span>
                    <div class="intro_btn_subtext intro_cart">1234</div>
                </div>
            </div>
        </div>
        
    </header>
    
    
    <!-- <span class="iconify" data-icon="ant-design:heart-outlined"></span> -->
    
</body>
</html>