<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Интернет-магазин с бесплатной доставкой</title>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link href="../styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header>
        <nav class="nav_menu">
            <a href="#" class="nav_menu_items">о нас</a>
            <a href="#" class="nav_menu_items">опт</a>
            <a href="#" class="nav_menu_items">оплата и доставка</a>
            <a href="#" class="nav_menu_items active">акции</a>
            <a href="#" class="nav_menu_items">блог</a>
            <a href="#" class="nav_menu_items">контакты</a>
        </nav>

        <div class="intro">
            <a href="./main.html" class="logo_container">
                <div class="logo_outer">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <div class="logo_subtext">вместе дешеле.org</div>
            </a>
            
            <div class="intro_telephone_outer">
                <span class="iconify" data-icon="carbon:phone-filled"></span>
                <a href="tel: +19688905556">+1 (968) 890 55 56</a>
            </div>
            
            <h1>Интернет-магазин с бесплатной доставкой</h1>

            <div class="intro_btns_container">
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="bi:person-fill"></span>
                    <div class="intro_btn_subtext">Войти</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ant-design:heart-filled"></span>
                    <div class="intro_btn_subtext intro_likes">0</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ps:shopping-cart"></span>
                    <div class="intro_btn_subtext intro_cart">1234</div>
                </div>
            </div>
        </div>

        <div class="search_container">
            <button class="catalog_btn button">
                <span class="iconify" data-icon="bx:menu-alt-right"></span>
                каталог
            </button>

            <form>
                <input class="search_input" type="search" name="search" placeholder="Введите что вам нужно">
                <button class="search_btn button">Поиск</button>
            </form>
        </div>

        <nav class="catalog_horizontal">
            <a href="#" class="catalog_horizontal_items">сумки</a>
            <a href="#" class="catalog_horizontal_items">для дома</a>
            <a href="#" class="catalog_horizontal_items active">косметички</a>
            <a href="#" class="catalog_horizontal_items">для путешествий</a>
            <a href="#" class="catalog_horizontal_items">для животных</a>
            <a href="#" class="catalog_horizontal_items">для рукоделия</a>
            <a href="#" class="catalog_horizontal_items">органайзеры</a>
            <a href="#" class="catalog_horizontal_items">пепельницы</a>
            <a href="#" class="catalog_horizontal_items">подарки для нее</a>
            <a href="#" class="catalog_horizontal_items">подарки для него</a>
        </nav>

        <div class="breadcrumbs_container">
            <a href="./main.html" class="breadcrumbs">главная</a>
            <a href="#" class="breadcrumbs">каталог</a>
        </div>
    </header>

    <main>
        <div class="catalog_container">
            <h2 class="catalog_title">каталог</h2>

            <ul class='catalog'>
                <li class="open">
                    <span class="catalog_item">
                        сумки
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">сумка для ноутбука</a></li>
                        <li><a href="#">сумка для фотоаппарата</a></li>
                        <li><a href="#">спортивная/дорожная сумка</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        для дома
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">органайзер для вещей</a></li>
                        <li><a href="#">чехол для мебели</a></li>
                        <li><a href="#">органайзер для мелочей</a></li>
                        <li><a href="#">плейсматы</a></li>
                        <li><a href="#">органайзер для проводов</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        косметички
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">дорожный органайзер</a></li>
                        <li><a href="#">для сумочки</a></li>
                        <li><a href="#" class="active">непромокаемые</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        для путешествий
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">органайзер для документов</a></li>
                        <li><a href="#">футляр для зубной щетки</a></li>
                        <li><a href="#">маски для сна</a></li>
                        <li><a href="#">чехол для чемодана</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        аксессуары для очков
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">футляр для очков</a></li>
                        <li><a href="#">цепочка для очков</a></li>
                        <li><a href="#">атомайзер</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        товары для животных
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">коврик под миску</a></li>
                        <li><a href="#">коврик под лоток</a></li>
                        <li><a href="#">защитный воротник</a></li>
                    </ul>
                </li>
                <li class="open">
                    <span class="catalog_item">
                        рукоделие
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                    <ul class='subcatalog'>
                        <li><a href="#">бисер</a></li>
                        <li><a href="#">стразы пришивные</a></li>
                        <li><a href="#">органайзеры пластиковые</a></li>
                    </ul>
                </li>
                <li>
                    <span class="catalog_item">
                        пояс для инструментов
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li class="close">
                    <span class="catalog_item">
                        таблетницы
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li>
                    <span class="catalog_item">
                        пепельницы
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li>
                    <span class="catalog_item">
                        бахилы силиконовые
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li class="close">
                    <span class="catalog_item">
                        четки
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li class="close">
                    <span class="catalog_item">
                        подарки для нее
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
                <li class="close">
                    <span class="catalog_item">
                        подарки для него
                        <span class="iconify open" data-icon="ep:arrow-up"></span>
                        <span class="iconify close" data-icon="ep:arrow-down"></span>
                    </span>
                </li>
            </ul>
        </div>

        <div class="listing_container">
            <div class="sort_container">
                <div class="sort_nav">
                    Сортировать:
                    <a href="#" class="sort_nav_items active">Популярные</a>
                    <a href="#" class="sort_nav_items">Сначала дешевые</a>
                    <a href="#" class="sort_nav_items">Сначала дорогие</a>
                </div>
                <span class="iconify" data-icon="akar-icons:settings-vertical"></span>
            </div>

            <div class="listing">
                <a class="product_card not_avaliable" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card not_avaliable" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="product_card" href="#">
                    <div class="product_img_outer">
                        <img class="product_img" src="../images/product1.png" alt="Product image">
                        <div class="like_outer like">
                            <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                            <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                        </div>
                    </div>
                    <div class="product_title">
                        Косметичка непромокаемая, 31/22/11 см
                    </div>
                    <div class="product_colors">
                        <div class="product_color white"></div>
                        <div class="product_color black"></div>
                        <div class="product_color pink"></div>
                    </div>
                    <div class="product_values">
                        <div>
                            <div class="product_price">123</div>
                            цена
                        </div>
                        <div class="product_wholesale_outer">
                            <div class="product_wholesale">103</div>
                            опт от <span class="product_wholesale_min">5 000</span>
                        </div>
                        <div>
                            <div class='product_number_outer'>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                                <span class="product_number">1</span>
                                <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                            </div>
                            количество
                        </div>
                    </div>
                    <div class="product_cart_add_outer">
                        <button class='product_cart_add_btn button'>В корзину</button>
                        <div class="rating_container">
                            <span class="rating_number">4.7</span>
                            <div class="rating_fill">
                                <div class="rating"></div>
                                <div class="rating_empty"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="page_index_container">
                Страница
                <a href="#" class="page_index active">1</a>
                <a href="#" class="page_index">2</a>
                <a href="#" class="page_index">3</a>
                <div class="page_index_reduction_outer">
                    <div class="page_index_reduction"></div>
                    <div class="page_index_reduction"></div>
                    <div class="page_index_reduction"></div>
                </div>
                <a href="#" class="page_index">15</a>
            </div>
        </div>
    </main>

    <div class="horizontal_list_container">
        <h2 class="horizontal_list_title">Рекомендуем</h2>
        <div class="horizontal_list">

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    
</body>
</html>