<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Интернет-магазин с бесплатной доставкой</title>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link href="../styles/product.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header>
        <nav class="nav_menu">
            <a href="#" class="nav_menu_items">о нас</a>
            <a href="#" class="nav_menu_items">опт</a>
            <a href="#" class="nav_menu_items">оплата и доставка</a>
            <a href="#" class="nav_menu_items active">акции</a>
            <a href="#" class="nav_menu_items">блог</a>
            <a href="#" class="nav_menu_items">контакты</a>
        </nav>

        <div class="intro">
            <a href="./main.html" class="logo_container">
                <div class="logo_outer">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <div class="logo_subtext">вместе дешеле.org</div>
            </a>
            
            <div class="intro_telephone_outer">
                <span class="iconify" data-icon="carbon:phone-filled"></span>
                <a href="tel: +19688905556">+1 (968) 890 55 56</a>
            </div>
            
            <h1>Интернет-магазин с бесплатной доставкой</h1>

            <div class="intro_btns_container">
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="bi:person-fill"></span>
                    <div class="intro_btn_subtext">Войти</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ant-design:heart-filled"></span>
                    <div class="intro_btn_subtext intro_likes">0</div>
                </div>
                <div class="intro_btns_outer">
                    <span class="iconify" data-icon="ps:shopping-cart"></span>
                    <div class="intro_btn_subtext intro_cart">1234</div>
                </div>
            </div>
        </div>

        <div class="search_container">
            <button class="catalog_btn button">
                <span class="iconify" data-icon="bx:menu-alt-right"></span>
                каталог
            </button>

            <form>
                <input class="search_input" type="search" name="search" placeholder="Введите что вам нужно">
                <button class="search_btn button">Поиск</button>
            </form>
        </div>

        <nav class="catalog_horizontal">
            <a href="#" class="catalog_horizontal_items">сумки</a>
            <a href="#" class="catalog_horizontal_items">для дома</a>
            <a href="#" class="catalog_horizontal_items active">косметички</a>
            <a href="#" class="catalog_horizontal_items">для путешествий</a>
            <a href="#" class="catalog_horizontal_items">для животных</a>
            <a href="#" class="catalog_horizontal_items">для рукоделия</a>
            <a href="#" class="catalog_horizontal_items">органайзеры</a>
            <a href="#" class="catalog_horizontal_items">пепельницы</a>
            <a href="#" class="catalog_horizontal_items">подарки для нее</a>
            <a href="#" class="catalog_horizontal_items">подарки для него</a>
        </nav>

        <div class="breadcrumbs_container">
            <a href="./main.html" class="breadcrumbs">главная</a>
            <a href="#" class="breadcrumbs">каталог</a>
            <a href="#" class="breadcrumbs">Косметичка непромокаемая, 31/22/11 см</a>
        </div>
    </header>

 
    <div class="h_product_title_container">
        <div class="h_product_title">Косметичка непромокаемая, 31/22/11 см</div>


        <span class="h_rating_number">4.7</span>
        <div class="rating_fill">
            <div class="rating"></div>
            <div class="rating_empty"></div>
        </div>

    </div>
    <div class="h_product_subtitle">Арт. 1234567890</div>

    <main>
        <div class="main_img_container">
            <div class="main_product_img_outer">
                <img class="main_product_img" src="../images/product1.png" alt="Product image">
                <div class="main_like_outer like">
                    <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                    <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                </div>
            </div>

            <div class="main_listing_img_container">
                <div class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product1.png" alt="Product image">
                </div>
                <div class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product2.png" alt="Product image">
                </div>
                <div class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product3.png" alt="Product image">
                </div>
                <div class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product4.png" alt="Product image">
                </div>
                <div class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product1.png" alt="Product image">
                </div>
            </div>
        </div>
        
        <div class="main_description_container">
            <div class="main_description_category">
                Цвет:
                <div class="main_description_share">
                    Поделиться:
                    <a href="#"><span class="iconify" data-icon="akar-icons:link-chain"></span></a>
                    <a href="#"><span class="iconify" data-icon="cib:viber"></span></a>
                    <a href="#"><span class="iconify" data-icon="uil:telegram-alt"></span></a>
                </div>
            </div>

            <div class="main_description_img_container">
                <a href='#' class="main_listing_img_outer chosen">
                    <img class="main_listing_img" src="../images/product1.png" alt="Product image">
                </a>
                <a href='#' class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product2.png" alt="Product image">
                </a>
                <a href='#' class="main_listing_img_outer not_avaliable">
                    <img class="main_listing_img" src="../images/product3.png" alt="Product image">
                </a>
                <a href='#' class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product4.png" alt="Product image">
                </a>
                <a href='#' class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product1.png" alt="Product image">
                </a>
                <a href='#' class="main_listing_img_outer">
                    <img class="main_listing_img" src="../images/product1.png" alt="Product image">
                </a>
            </div>

            <div class="main_description_category">
                Размер:
            </div>

            <div class="main_description_size_container">
                <a href='#' class="main_description_size chosen">
                    31/22/11 см
                </a>
                <a href='#' class="main_description_size">
                    31/22/11 см
                </a>
                <a href='#' class="main_description_size not_avaliable">
                    31/22/11 см
                </a>
            </div>

            <div class="main_description_category">
                Количество:
            </div>
            
            <div class='main_description_number_outer'>
                <span class="iconify main_description_number_btn" data-icon="ep:arrow-left"></span>
                <span class="main_description_number">1</span>
                <span class="iconify main_description_number_btn" data-icon="ep:arrow-right"></span>
            </div>

            <div class="main_description_category">
                Подарочная упаковка:
            </div>

            <select class="main_description_package" name="package">
                <option value="" disabled selected>Выбрать упаковку</option>
                <option value="gift">Подарочная упаковка</option>
                <option value="regular">Обычная упаковка</option>
                <option value="without">Без упаковки</option>
            </select>

            <div class="main_description_category">
                Цена:
            </div>

            <div class="main_description_price_container">
                <div class="main_description_price">123</div>
                <div class="main_description_wholesale">103</div>
                <div class="main_description_wholesale_outer">
                    опт от 
                    <span class="main_description_wholesale_min">5 000</span>
                    в корзине
                </div>
            </div>

            <div class="main_description_add_outer">
                <button class='main_description_add_btn button'>В корзину</button>
                <a href="./main.html" class='main_description_continue_btn button negative'>Продолжить покупки</a>
            </div>

            <div class="main_nav_container">
                <div class="main_nav_item description">Описание</div>
                <div class="main_nav_item comments active">Отзывы (<span class="main_nav_comments_number">12</span>)</div>
            </div>

            <div class="main_comments_outer">
                <div class="main_comment_container">
                    <div class="main_comment_header">
                        <div class="main_comment_title">
                            <span class="main_comment_author">Алексей,</span>
                            <time class="main_comment_date" datetime="2022-05-22">22.05.2022</time>
                        </div>
                        <div class="main_comment_rating_empty">
                            <div class="main_comment_rating_fill"></div>
                        </div>
                    </div>
                    <div class="main_comment_text">
                        Стильная женская косметичка - неотъемлемый атрибут каждой девушки!
                    </div>
                </div>
    
                <div class="main_comment_container">
                    <div class="main_comment_header">
                        <div class="main_comment_title">
                            <span class="main_comment_author">Елена,</span>
                            <time class="main_comment_date" datetime="2022-06-01">01.06.2022</time>
                        </div>
                        <div class="main_comment_rating_empty">
                            <div class="main_comment_rating_fill"></div>
                        </div>
                    </div>
                    <div class="main_comment_text">
                        Она удобная, практичная и многофункциональная. Косметичка способна уместить всю косметику, необходимую в дороге, при этом не занимая много места. Так же в нее можно поместить наушники, различные украшения, деньги, мобильный телефон, солнцезащитные очки и другие мелочи.
                    </div>
                </div>
    
                <div class="main_comment_container">
                    <div class="main_comment_header">
                        <div class="main_comment_title">
                            <span class="main_comment_author">Светлана,</span>
                            <time class="main_comment_date" datetime="2022-06-20">20.06.2022</time>
                        </div>
                        <div class="main_comment_rating_empty">
                            <div class="main_comment_rating_fill"></div>
                        </div>
                    </div>
                    <div class="main_comment_text">
                        Косметичка прозрачная выполнена из ПВХ. Габариты косметички: длина 31 см, ширина 22,5 см, высота 11 см. Идеальна для бассейна, душа.
                    </div>
                </div>
                
                <div class="main_load_comments_btn">Загрузить еще</div>
    
                <div class="main_your_comment_header">Добавить отзыв</div>
    
                <form class="main_your_comment_form">
                    <div class="main_your_comment_inputs_outer">
                        <input class="main_your_comment_inputs" type="text" name="name" placeholder="Введите имя" required>
                        <input class="main_your_comment_inputs" type="email" name="email" placeholder="Адрес электронной почты" required>
                    </div>
                    <div class="main_your_comment_inputs_outer">
                        <textarea class="main_your_comment_inputs" name="comment" rows="6" placeholder="Добавьте комментарий" required></textarea>
                        <div class="main_your_comment_btns_outer">
                            <div class="main_your_comment_label">Поставьте оценку</div>
                            <div class="main_your_comment_rating">
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>	
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>    
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>  
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>    
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div>
                            <button class="button" type="submit">отправить</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- <div class="main_description_outer">
                <p>Косметичка прозрачная WashBag на молнии и гладкой ручкой, представленна в двух размерах. Женская и мужская силиконовая сумка полностью герметична и защищена от попадания влаги и намокания. Дорожная косметичка и сумка хорошо держат форму, высококачественные замки прослужат не один год. Косметичка полностью прозрачна, что придаёт ей более изяшный вид, прозрачный дизайн позволяет легко найти то, что вам нужно без особых усилий. </p>
                <p>Возьмите универсальный органайзер с собой в дорогу, путешествие, отдых, на фитнес. Водонепроницаемую сумочку идеально взять с собой в баню, в бассейн, на пляж, в душ. Косметичку пенал применяют также для школьных принадлежностей, канцелярии. В неё с лёгкостью поместится любой ассортимент косметики, личные вещи, средства гигиены и одежда. Сумка-косметичка - унисекс,подходит для женщин,мужчин и детей.</p>
            </div> -->

        </div>

        <div class="main_colors_container">
            <div class="main_color pink"></div>
            <div class="main_color grey"></div>
            <div class="main_color beige"></div>
        </div>
    </main>

    <div class="horizontal_list_container">
        <h2 class="horizontal_list_title">Рекомендуем</h2>
        <div class="horizontal_list">

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="horizontal_list_container">
        <h2 class="horizontal_list_title">Недавно просмотренные</h2>
        <div class="horizontal_list">

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="product_card" href="#">
                <div class="product_img_outer">
                    <img class="product_img" src="../images/product1.png" alt="Product image">
                    <div class="like_outer like">
                        <span class="iconify like" data-icon="ant-design:heart-filled"></span>
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="product_title">
                    Косметичка непромокаемая, 31/22/11 см
                </div>
                <div class="product_colors">
                    <div class="product_color white"></div>
                    <div class="product_color black"></div>
                    <div class="product_color pink"></div>
                </div>
                <div class="product_values">
                    <div>
                        <div class="product_price">123</div>
                        цена
                    </div>
                    <div class="product_wholesale_outer">
                        <div class="product_wholesale">103</div>
                        опт от <span class="product_wholesale_min">5 000</span>
                    </div>
                    <div>
                        <div class='product_number_outer'>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-left"></span>
                            <span class="product_number">1</span>
                            <span class="iconify product_number_btn" data-icon="ep:arrow-right"></span>
                        </div>
                        количество
                    </div>
                </div>
                <div class="product_cart_add_outer">
                    <button class='product_cart_add_btn button'>В корзину</button>
                    <div class="rating_container">
                        <span class="rating_number">4.7</span>
                        <div class="rating_fill">
                            <div class="rating"></div>
                            <div class="rating_empty"></div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <footer>
        <div class="footer_logo_outer">
            <img src="../images/logo_white.png" alt="logo">
        </div>
        <div class="footer_block">
            <a href="#">Карта сайта</a>
            <a href="#">Каталог</a>
            <a href="#">О нас</a>
            <a href="#">Оплата и доставка</a>
        </div>
        <div class="footer_block">
            <a href="#">Опт</a>
            <a href="#">Акции</a>
            <a href="#">Блог</a>
            <a href="#">Контакты</a>
        </div>
        <div class="footer_links_outer">
            <div>
                <a href="#" class="footer_links">Пользовательское соглашение</a>
                <a href="#" class="footer_links">Политика конфиденцииальности</a>
            </div>
            <a href="#" class="footer_network"><span class="iconify" data-icon="tabler:brand-vk"></span></a>
            <a href="#" class="footer_network"><span class="iconify" data-icon="uil:telegram-alt"></span></a>
            <a href="#" class="footer_network"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a>
        </div>
    </footer>
    
</body>
</html>