:root {
    --white-color: #F5F5F5;
    --black-color: #181818;
    --grey-color: #8A8A8A;
    --light-grey-color: #D9D9D9;
    --pink-color: #FF6565;
    --off-white-color: #E9E9E9;
}

body {
    margin: 0;
    padding: 10px 6vw 0;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
}

/* buttons */

.button {
    border: 2px solid var(--black-color);
    border-radius: 40px;
    background-color: var(--black-color);;
    font-family: inherit;
    text-transform: uppercase;
    color: white;
}

.button:hover {
    background-color: white;
    color: var(--black-color);
}

.button.negative {
    background-color: white;
    color: var(--black-color);
}

.button.negative:hover {
    background-color: var(--black-color);
    color: white;
}
