@import './_vars.css';

.popup_background {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey-color);
    opacity: 0.5;
}

.popup_container {
    z-index: 1000;
    position: fixed;
    width: 800px;
    height: 440px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -220px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: var(--white-color);
    font-size: 14px;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup_outer {
    padding: 15px 40px;
}

.popup_container .iconify {
    color: var(--grey-color);
}

.popup_container .iconify:hover {
    color: var(--black-color);
}

.popup_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup_header {
    padding-bottom: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.popup_header.second {
    padding-top: 15px;
    border-top: 1px solid var(--grey-color);
}

/* popup_product_container */

.popup_product_container {
    position: relative;
    display: flex;
    padding: 15px 0;
    border-top: 1px solid var(--grey-color);
    text-decoration: none;
    color: var(--black-color);
}

.popup_product_img_outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s;
}

.popup_product_container.not_avaliable .popup_product_img_outer::after {
    content: 'нет на складе';
    z-index: 1;
    position: absolute;
    margin: auto;
    padding: 2px 5px;
    background-color: white;
    border-radius: 3px;
    font-size: 8px;
    color: black;
}

.popup_product_img {
    width: 100%;
    height: auto;
}

.popup_product_container:hover .popup_product_img_outer {
    transform: scale(1.1);
}

.popup_product_container.not_avaliable .popup_product_img {
    opacity: 0.4;
}

.popup_product_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    width: 420px;
}

.popup_product_title {
    font-size: 18px;
}

.popup_product_number_outer {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
}

.popup_product_number_btn {
    padding: 5px 0;
    background-color: var(--off-white-color);
    color: var(--grey-color);
    font-size: 14px;
}

.disabled > .popup_product_number_btn {
    background-color: var(--white-color);
    color: var(--light-grey-color);
}

.popup_product_number {
    width: 50px;
    text-align: center;
}

.popup_product_price_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    width: 100px;
}

.popup_product_price {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
}

.popup_product_price.crossed {
    text-decoration: line-through solid;
    font-size: 14px;
    color: var(--grey-color);
}

.popup_product_wholesale {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    color: var(--pink-color);
}

.popup_product_price::after,
.popup_product_wholesale::after,
.popup_total_wholesale_price::after,
.popup_total_price::after {
    content: ' $';
}

.popup_delete_btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* popup_total_container */

.popup_total_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; 
    bottom: 0;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: var(--off-white-color);
    border-top: 1px solid var(--grey-color);
    font-size: 20px;
}

.popup_total_outer {
    display: flex;
    align-items: baseline;
}

.popup_total_wholesale_price {
    margin-left: 10px;
    font-weight: 700;
    color: var(--pink-color);
}

.popup_total_price {
    margin-left: 10px;
    font-weight: 700;
    font-size: 24px;
}

.popup_total_price.crossed {
    text-decoration: line-through solid;
    font-size: 14px;
    color: var(--grey-color);
}
