@import './_vars.css';

.catalog_container {
    min-width: 320px;
    padding-right: 30px;
    background-color: var(--white-color);
    text-transform: uppercase;
}

.catalog_container.absolute {
    z-index: 100;
    position: absolute;
    padding: 20px;
    border-radius: 10px;    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.catalog_title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
}

.catalog {
    margin: 0;
    padding: 0;
}

.catalog > li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: default;
}

.catalog > li.open {
    margin-bottom: 30px;
}

li .iconify {
    position: relative;
    top: 2px;
    font-weight: 400;
    color: var(--grey-color);
}

.catalog_item {
    font-size: 16px;
}

.catalog_item a {
    text-decoration: none;
    color: inherit;
}

.catalog_item:hover {
    color: var(--grey-color);
}

.catalog_item:hover .iconify.close,
.catalog_item:hover .iconify.open {
    font-weight: 900;
    color: var(--black-color);
}

.subcatalog {
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.subcatalog > li {
    list-style: none;
    font-weight: 400;
}

.subcatalog a { 
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.subcatalog a:hover,
.subcatalog a.active {
    background-color: var(--light-grey-color);
    border-radius: 30px;
    font-weight: 700;
}