@import './_vars.css';
@import './header.css';

main {
    display: flex;
    align-items: stretch;
}

/* catalog */

.catalog_container {
    min-width: 320px;
    padding-right: 30px;
    text-transform: uppercase;

    /* display: none; */
}

.catalog_container h2 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
}

.catalog {
    margin: 0;
    padding: 0;
}

.catalog > li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: default;
}

.catalog > li.open {
    margin-bottom: 30px;
}

li.open .iconify.open,
li.close .iconify.close {
    position: relative;
    top: 2px;
    font-weight: 400;
    color: var(--grey-color);
}

li.open .iconify.close,
li.close .iconify.open,
li:not(.close):not(.open) .iconify {
    display: none;
}

.catalog_item {
    font-size: 16px;
}

.catalog_item:hover {
    color: var(--grey-color);
}

.catalog_item:hover .iconify.close,
.catalog_item:hover .iconify.open {
    font-weight: 900;
    color: var(--black-color);
}

.subcatalog {
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.subcatalog > li {
    list-style: none;
    font-weight: 400;
}

.subcatalog a { 
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.subcatalog a:hover,
.subcatalog a.active {
    background-color: var(--light-grey-color);
    border-radius: 30px;
    font-weight: 700;
}

/* listing_container */

.listing_container {
    width: 100%;
}

.sort_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort_nav {
    font-size: 10px;
}

.sort_nav_items {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.sort_nav_items:hover,
.sort_nav_items.active {
    text-shadow: 0 0 0.7px var(--black-color), 0 0 0.7px var(--black-color);
}

.sort_container .iconify {
    font-size: 24px;
    color: var(--light-grey-color);
}

.sort_container .iconify:hover {
    color: var(--black-color);
}

/* listing */

.listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin-top: 50px;
}

.block {
    width: 100%;
    height: 300px;
    background-color: blue;

}

